/*Comentario*/

html {
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    overflow-x: hidden;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(rgb(233, 227, 227), rgb(157, 163, 162));
    padding: 20px;
}

.degradado {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToJkDby8LhI1W53nduD8O50LXaufws5IZ3lA&usqp=CAU);
    background-size: 100% 100%;
    background-attachment: fixed;
}

/*Modificaciones titulo*/

h1 {
    text-align: center;
    color: blue;
    font-family: 'Tangerine', serif;
    letter-spacing: 50%;
    font-size: 2cm;
}

.paraTransicion:hover {
    transition: 2s;
    font-size: 90px;
}

h2 {
    color: rgb(94, 2, 2);
    font-family: "Ubuntu script=latin rev=2";
    width: 100%;
    font-weight: 700;
    font-style: normal;
    line-height: initial;
    font-size: 230%;
    position: relative;
    left: 10px;
}

h3 {
    text-align: center;
}

/*Class*/

.boredesRedondeados {
    position: relative;
    border-radius: 5%;
    margin: 5px;
}

.boredesRedondeados:hover {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(0deg);
    }
}

.spots {
    position: absolute;
    left: 700px;
}

.maps1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    padding-left: 40px;
    gap: 50px;
}

/*ID   numeral*/

.cssLista {
    /*Dentro de pagina Skateshop*/
    font-family: Verdana;
    font-size: medium;
    margin-top: 10px;
}
.achicarGap {
    width: 175px;
}
a {
    color: #000000;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
} 

P {
    /* formato todos textos principales */
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 20px;
    position: relative;
    left: 10px;
}

.imagenes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
}

.videos {
    display: grid;
    grid-template-areas: "video1 shane video3" "nyjah video2 chris";
    grid-template-rows: 50% 50%;
    grid-template-columns: auto;
}

.video1 {
    left: 25px;
}

.hvideo1 {
    grid-area: video1;
}

.video2 {
    left: 575px;
    bottom: 325px;
}

.hvideo2 {
    grid-area: video2;
}

.video3 {
    left: 1125px;
    bottom: 650px;
    grid-area: video3;
}

.hvideo3 {
    grid-area: video3;
}

.nyjah {
    position: relative;
    left: 25px;
    bottom: 2px;
    background-color: rgb(194, 238, 223);
    border: solid 1px;
    margin: 0;
    padding: 0;
    width: 500px;
    overflow: hidden;
    grid-area: nyjah;
}

.shane {
    position: relative;
    left: 25px;
    bottom: 2px;
    border: solid 1px;
    background-color: rgb(194, 238, 223);
    margin: 0;
    padding: 0;
    width: 500px;
    overflow: hidden;
    grid-area: shane;
}

.chris {
    position: relative;
    left: 25px;
    bottom: 2px;
    border: solid 1px;
    margin: 0;
    background-color: rgb(194, 238, 223);
    padding: 0;
    width: 500px;
    overflow: hidden;
    grid-area: chris;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.galeria{
    font-family: 'open sans';
}

.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
}

.linea{
    border-top: 5px solid #0077C0;
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgba(0, 118, 192, 0.781) ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h2{
    color: #fff;
    font-weight: 300;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}

/*Footer*/
footer{
    
    text-align: center;
}

@media only screen and (max-width: 480px) {
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .texto {
        font-family: "Ubuntu script=latin rev=2";
        width: 80%;
        font-weight: 400;
        font-style: normal;
        line-height: initial;
        font-size: 100%;
        position: relative;
        left: 40px;
    }
    .Titulos {
        text-align: center;
    }
    .menu {
        background: none;
        width: 450px;
    }
    .menu li {
        margin-bottom: 3px;
        display: block;
    }
    .imagenes {
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: stretch;
        justify-content: center;
    }
    .boredesRedondeados {
        width: 310px;
        left: 25px;
    }
    .videos {
        display: grid;
        grid-template-areas: "video1" "nyjah" "video2" "shane" "video3" "chris";
        grid-template-rows: auto;
        grid-template-columns: auto;
        text-align: center;
    }
    .video1 {
        width: 310px;
    }
    .video2 {
        width: 310px;
    }
    .video3 {
        width: 310px;
    }
    .nyjah {
        width: 310px;
        left: 25px;
    }
    .shane {
        width: 310px;
        left: 25px;
    }
    .chris {
        width: 310px;
        left: 25px;
    }

    h2{
       text-align: center;
    }
    
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    /*Imagenes */
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
    html {
        font-family: 'Quicksand', sans-serif;
        font-weight: 200;
        overflow-x: hidden;
    }
    .texto {
        font-family: "Ubuntu script=latin rev=2";
        width: 80%;
        font-weight: 400;
        font-style: normal;
        line-height: initial;
        font-size: 100%;
        position: relative;
        left: 40px;
    }
    .Titulos {
        text-align: center;
    }
    .menu {
        background: none;
        width: 450px;
    }
    .menu li {
        margin-bottom: 3px;
        display: block;
    }
    .imagenes {
        flex-wrap: nowrap;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .boredesRedondeados {
        width: 310px;
        left: 25px;
    }
    .videos {
        display: grid;
        grid-template-areas: "video1" "nyjah" "video2" "shane" "video3" "chris";
        grid-template-rows: 1px;
        grid-template-columns: auto;
        grid-gap: 20px;
    }
    .video1 {
        width: 350px;
    }
    .video2 {
        width: 350px;
    }
    .video3 {
        width: 350px;
    }
    .nyjah {
        width: 370px;
        left: 370px;
        bottom: 25px;
    }
    .shane {
        width: 370px;
        left: 25px;
        left: 370px;
        bottom: 350px;
    }
    .chris {
        width: 370px;
        left: 25px;
        left: 370px;
        bottom: 330px;
    }
}